.sidebarOption {
  display: flex;
  align-items: center;
  color: gray;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  /* padding: 0px 10px; */
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption_icon {
  padding: 0px 10px;
}

.sidebarOption > p {
  margin: 20px 10px 0px 10px;
  font-size: 14px;
}
