.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #282828;
  color: white;
  padding: 20px;
}

.footer_left {
  display: flex;
  align-items: center;
  flex: 0.3;
  width: 300px;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
}

.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}

.footer_left > img {
  object-fit: contain;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.footer_song_info > p {
  font-size: 13px;
}
.footer_song_info > h4 {
  font-size: 14px;
}

.footer_icon:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.2);
}

.footer_right * .MuiSlider-root {
  color: green;
}
